[submodule "Third_Party/googletest"]
	path = Third_Party/googletest
	url = https://github.com/google/googletest
	ignore = dirty
[submodule "Third_Party/benchmark"]
	path = Third_Party/benchmark
	url = https://github.com/google/benchmark.git
